name: Build DOIP CLI Binaries

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build CLI (${{ matrix.os }}, Python ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-20.04, macos-latest]
        python-version: ["3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create venv
        run: |
          python -m venv venv
        shell: bash

      ##
      ## Remove mkdocs* only for CLI build!
      ##
      - name: Filter out mkdocs deps for CLI
        run: |
          if [ "$RUNNER_OS" = "Windows" ]; then
            powershell -Command "(Get-Content requirements.txt) | Where-Object {$_ -notmatch 'mkdocs'} | Set-Content requirements.txt"
          else
            sed -i '/mkdocs/d' requirements.txt
          fi
        shell: bash

      - name: Install CLI dependencies + PyInstaller
        run: |
          if [ "$RUNNER_OS" = "Windows" ]; then
            call venv\Scripts\activate && pip install --upgrade pip wheel setuptools
            call venv\Scripts\activate && pip install pyinstaller
            call venv\Scripts\activate && pip install -r requirements.txt
          else
            source venv/bin/activate && pip install --upgrade pip wheel setuptools
            source venv/bin/activate && pip install pyinstaller
            source venv/bin/activate && pip install -r requirements.txt
          fi
        shell: CMD

      - name: Run tests
        run: |
          if [ "$RUNNER_OS" = "Windows" ]; then
            call venv\Scripts\activate && pytest -vv
          else
            source venv/bin/activate && pytest -vv
          fi
        shell: CMD

      - name: Build binary
        run: |
          if [ "$RUNNER_OS" = "Windows" ]; then
            call venv\Scripts\activate && pyinstaller ^
              --onefile client_cli\main.py ^
              --name mardi-doip-cli ^
              --console ^
              --hidden-import=anyio ^
              --hidden-import=sniffio ^
              --hidden-import=h11 ^
              --clean ^
              --log-level=WARN
            # Add checksum
            certutil -hashfile dist\mardi-doip-cli.exe SHA256 > dist\checksum.txt
          else
            source venv/bin/activate && pyinstaller \
              --onefile client_cli/main.py \
              --name mardi-doip-cli \
              --console \
              --hidden-import=anyio \
              --hidden-import=sniffio \
              --hidden-import=h11 \
              --clean \
              --log-level=WARN
            # Add checksum
            sha256sum dist/mardi-doip-cli > dist/checksum.txt
          fi
        shell: CMD

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mardi-doip-cli-${{ matrix.os }}
          path: |
            dist/mardi-doip-cli*
            dist/checksum.txt
          if-no-files-found: error
          overwrite: true
