name: Build DOIP CLI - MultiOS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: ["3.12"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      ############################
      # Install dependencies
      ############################

      - name: Install Python deps (Linux/Mac)
        if: matrix.os != 'windows-latest'
        shell: bash
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip wheel setuptools
          pip install pyinstaller
          pip install -r requirements.txt

      - name: Install Python deps (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: |
          python -m venv venv
          venv\Scripts\activate
          pip install --upgrade pip wheel setuptools
          pip install pyinstaller
          pip install -r requirements.txt

      ############################
      # Run tests
      ############################

      - name: Run tests (Linux/Mac)
        if: matrix.os != 'windows-latest'
        shell: bash
        run: |
          source venv/bin/activate
          pytest -vv

      - name: Run tests (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: |
          venv\Scripts\activate
          pytest -vv

      ############################
      # Build Executable
      ############################

      - name: Build CLI (Linux/Mac)
        if: matrix.os != 'windows-latest'
        shell: bash
        run: |
          source venv/bin/activate
          pyinstaller --onefile client_cli/main.py \
            --name mardi-doip-cli \
            --console \
            --hidden-import=anyio \
            --hidden-import=sniffio \
            --hidden-import=h11 \
            --clean \
            --log-level=WARN
          shasum -a 256 dist/mardi-doip-cli > dist/checksum.txt

      - name: Build CLI (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: |
          venv\Scripts\activate
          pyinstaller --onefile client_cli\main.py ^
            --name mardi-doip-cli ^
            --console ^
            --hidden-import=anyio ^
            --hidden-import=sniffio ^
            --hidden-import=h11 ^
            --clean ^
            --log-level=WARN
          certutil -hashfile dist\mardi-doip-cli.exe SHA256 > dist\checksum.txt

      ############################
      # Upload Executable
      ############################

      - name: Upload CLI Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mardi-doip-cli-${{ matrix.os }}-latest
          path: |
            dist/mardi-doip-cli*
            dist/checksum.txt
          if-no-files-found: error
